body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    width: 100Vw;
    height: 100vh;
    background: rgb(255, 123, 0);
}

.header{
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 2%;
}

.title{
    text-align: center;
    color: rgb(0, 20, 122);
    font-size: 2.6rem;
    font-weight: 800;
    margin: 2%;
}

.container{
    display: flex;
    margin: 1%;
    font-size: 2rem;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 95vw;
    height: 80vh;
    background: rgb(0, 109, 217);
}

.services{
    width: 45%;
    height: 45%;
    background: rgba(255, 255, 255, 0.738);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products{
    width: 45%;
    height: 45%;
    background: rgba(255, 255, 255, 0.738);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reserve{
    width: 45%;
    height: 45%;
    background: rgba(255, 255, 255, 0.738);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.others{
    width: 45%;
    height: 45%;
    background: rgba(255, 255, 255, 0.738);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option {
    cursor: pointer;
}

.option a {
    text-decoration: none;
    color: rgb(0, 6, 62);
}